.container {
    //breakpoints:
    //mobile - 320px
    //tablet - 768 px
    //desktop - 1280px


    // margin: 0 auto;
    // padding: 0 16px;
    // min-width: 320px;
    // width: 100%;


    // mobil
        max-width: 320px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 16px;
        padding-right: 16px;
 

    // tablet
    @media screen and (min-width: 768px) {
        max-width: 768px
    }

    // desktop
    @media screen and (min-width: 1280px) {
        width: 1248px;
    }
}