body {
    background-color: $background-color-light;
    font-family: $main-text-font;
    color: $main-text-color;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li,
ul {
    list-style: none;
}

button {
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}