/*font color*/
$main-text-color: #111321; //* for light theme: logo + menu + cards text color *//
$light-text-color: #ffffff; //* weather card text + article card teg +  *//
$gray-text-color: #f4f4f4; //* for dark theme: logo + menu + cards text color *//
$blue-text-color: #4440f6; //* for light theme: read more + category-btn *//
$light-switch-color: #4b48db; //* for light theme *//
$dark-switch-color: #5f6775; //* for dark theme *//
$have-read-tag: #00b912; //* for read articles in the read-page*//

/*background-color*/
$background-color-dark: #2e2e2e;
$background-color-light: #ffffff;
$background-color-footer: #a8a8a8;
$background-color-accent: #4440f6;

/*border*/
$border-color: #4b48db;
$line-color-light: #f4f4f4;
$line-color-dark: #0000003d;
$input-border: #111321;
$read-btn-bottom-border: #929292;

/*font*/
$main-text-font: Manrope, sans-serif;
$weather-text-font: Roboto, sans-serif; //* weather card *//
$second-text-font: Poppins, sans-serif;

/*переходи*/
$transition-duration: 300ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

/*кнопки*/
$bgr-color-active-btn: #4b48db;
$bgr-color-active-btn: transparant;
$border-color-btn: #4440f6;
$text-color-btn: #ffffff;
$text-color-active-btn: #4440f6;
$border-radius-btn: 24px;
$pudding-btn: 8px, 21px, 8px, 21px;