
:root {
    --main-text-color: #111321;
    --light-text-color: #FFFFFF;
    --gray-text-color: #F4F4F4;
    --blue-text-color: #4440F6;
    --light-switch-color: #111321;
    --dark-switch-color: #4B48DB;


    /*background-color*/
    --background-color-dark: #2E2E2E;
    --background-color-light: #ffffff;
    --background-color-footer: #A8A8A8;
    --background-color-accent: #4440F6;


    /*border*/
    --border-color: #4B48DB;
    --line-color-dark: #F4F4F4;
    --line-color-dark: #000000;
    

    /*font*/
    --main-text-font: Manrope, sans-serif;
    --weather-text-font: Roboto, sans-serif;
    --second-text-font: Poppins, sans-serif;

    /*переходи*/
    --transition-duration: 300ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
