<div class="banner">

    <img class='banner__image'
        srcset="/src/images/adv/banner_m.jpg 480w, /src/images/adv/banner_t.jpg 768w, /src/images/adv/banner_d.jpg 1280w"
        sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, 480px" src="/src/images/adv/banner_t.jpg"
        alt="Donate on ZSU">
    <button type="button" class="banner__button">
        <svg class="banner__button-cross_icon">
            <use href="/src/images/icons.svg#icon-close" class="banner__button-use_icon"></use>
        </svg>
    </button>
    <a href="https://bank.gov.ua/ua/about/support-the-armed-forces" target="_blank"><button type="button"
            class="banner__button-link">Support Ukraine</button></a>

</div>