<div class="banner">
    <a href="https://bank.gov.ua/ua/about/support-the-armed-forces" target="_blank">
        <img srcset="/src/images/adv/zsu-mobile.jpg 480w, /src/images/adv/zsu-tabl.jpg 768w, /src/images/adv/zsu-desk.jpg 1280w"
            sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, 480px" src="/src/images/adv/zsu-tabl.jpg"
            alt="Donate on ZSU"></a>
    <button type="button" class="banner__button">
        <svg class="button__mail-icon">
            <use href="/src/images/icons.svg#icon-close" class="button__use-icon"></use>
        </svg>
    </button>
</div>