<div class="card" id="card">
  <img class="card__img" src="././images/photo_main.jpg" alt="" />
  <h2 class="card__title">title</h2>
  <p class="card__description">description</p>
  <div class="card__footer">
    <span class="card__date">date</span>
    <a class="card__ref" href="#">Read more</a>
  </div>
  <div class="wrap">
    <button type="button" class="card__favorite">Add to favorite</button>
  </div>
  <div class="categories visually-hidden"></div>
  <div class="reading visually-hidden"></div>
</div>
