
<section class="empty-res is-hidden">
    <div class="empty-res__container container">
        <p class="empty-res___title">We haven't found news from </br> this category</p>
        <picture>
            <source
                srcset="/src/images/error-image/error-1x-dekstop-min.png 1x, /src/images/error-image/error-2x-dekstop-min.png 2x"
                type="image/png" media="(min-width: 1279.98px)" />
            <source
                srcset="/src/images/error-image/error-1x-tab-min.png 1x, /src/images/error-image/error-2x-tab-min.png 2x"
                type="image/png" media="(min-width: 768px)" />
            <source
                srcset="/src/images/error-image/error-1x-mob-min.png 1x, /src/images/error-image/error-2x-mob-min.png 2x"
                type="image/png" media="(mix-width: 480px)" />
            <img class="error___picture" src="/src/images/error-image/error-image.min.png"
                alt="error search picture" />
        </picture>
    </div>
</section>