<footer class="footer">
    <div class="footer__container container">
        <a lang="en" href="/src/index.html" class="footer__logo">News</a>
        <div class="footer__quote">
            <p class="footer__quote-text"></p>
            <p class="footer__quote-autor"></p>
        </div>
        <div class="footer__links">
            <a lang="en" href="mailto:1514768zp@gmail.com" class="footer__mail"><svg class="footer__mail-icon">
                    <use href="/src/images/icons.svg#icon-envelope"></use>
                </svg>Contact us</a>
            <a lang="en" href="https://github.com/YuliiaMay/project-js-07 " class="footer__git-link"
                target="_blank"><svg class="footer__git-icon" width="44" height="44">
                    <use href="/src/images/icons.svg#icon-git"></use>
                </svg></a>
        </div>
    </div>
</footer>