<header class="header">
  <div class="container header-container">
    <a href="/src/index.html" class="logo">News</a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/src/index.html" class="nav__link nav__link--current"
            >Home</a
          >
        </li>
        <li class="nav__item">
          <a href="/src/favorite.html" class="nav__link">Favorite</a>
        </li>
        <li class="nav__item">
          <a href="/src/read.html" class="nav__link">Read</a>
        </li>
      </ul>
    </nav>

    <label class="search__label">
      <input
        class="search__input"
        name="searchQuery"
        type="text"
        id="search-field__input"
        placeholder="Search"
      />

      <button class="search__btn">
        <svg class="search__btn-icon" width="28" height="28">
          <use href="/src/images/icons.svg#search"></use>
        </svg>
      </button>
    </label>


    <div class="theme-switch">
          <span class="theme-switch__light-on-light">Light</span>
            <svg class="theme_icon-sun" width="19" height="19">
            <use href="/src/images/icons.svg#sun"></use>
          </svg>
            <label id="sw1" class="switch-light">
              <input type="checkbox" class="switch__input" data-theme="">
              <span id="sw2"class="switch__slider-light"></span>
            </label>
          <svg class="theme_icon-moon" width="19" height="19">
            <use href="/src/images/icons.svg#moon" class="theme_icon-moon"></use>
          </svg>
          <span class="theme-switch__dark-on-light">Dark</span>
    </div>


  </div>
</header>
