<!-- <div class="mob-menu__container js-menu-container" data-menu>
  <div class="mob-menu_header">
    <a href="/src/index.html" class="logo">News</a>

    <button type="button" class="menu-close-btn" data-menu-close>
      <svg class="menu-close" width="24" height="24">
        <use href="/src/images/icons.svg#close" class="icon-close"></use>
      </svg>
    </button>
  </div>

  <nav class="mob-navbar">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/src/index.html" class="nav__link">
          <svg>
            <use href="/src/images/icons.svg#home" width="32" height="32"></use>
          </svg>
          Home
          <svg>
            <use
              href="/src/images/icons.svg#pointer-down"
              width="24"
              height="24"
            ></use>
          </svg>
        </a>
      </li>
      <li class="nav__item">
        <a href="/src/favorite.html" class="nav__link">
          <svg>
            <use
              href="/src/images/icons.svg#empty-heart"
              width="32"
              height="32"
            ></use>
          </svg>
          Home
          <svg>
            <use
              href="/src/images/icons.svg#pointer-down"
              width="24"
              height="24"
            ></use>
          </svg>
        </a>
      </li>
      <li class="nav__item">
        <a href="/src/read.html" class="nav__link">
          <svg>
            <use href="/src/images/icons.svg#read" width="32" height="32"></use>
          </svg>
          Home
          <svg>
            <use
              href="/src/images/icons.svg#pointer-down"
              width="24"
              height="24"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>

  <div class="theme-switch theme-switch-mob">
    <span class="theme-switch__light-on">Light</span>
    <div class="theme-switch__slider-conteiner">
      <svg class="theme-switch__icon-slider" width="16" height="16">
        <use href="/src/images/icons.svg#icon-round"></use>
      </svg>
    </div>
    <span class="theme-switch__dark-on">Dark</span>
  </div>
</div> -->
