<div id="pagination"></div>

<!-- <nav class="pagination-container">
  <button
    class="pagination-button"
    id="prev-button"
    aria-label="Previous page"
    title="Previous page"
  >
    <div class="prew">
      <img src="././images/prew.svg" alt="" /> <span>Prew</span>
    </div>
    &lt;
  </button>

  <div id="pagination-numbers"></div>

  <button
    class="pagination-button"
    id="next-button"
    aria-label="Next page"
    title="Next page"
  >
    <div class="next">
      <span>Next</span><img src="././images/next.svg" alt="" />
    </div>
    &gt;
  </button>
</nav> -->
