<section class="read__section-page">
  <div class="container">
  <!-- <div id="accordion" class="accordion" style="max-width: 30rem; margin: 1rem auto;"> -->
		<div class="accordion">
  <div class="accordion-item">
    <div class="accordion-header">22/22/2023</div>
    <div class="accordion-content">Тут будет карточка</div>
  </div>
</div>

    <div class="undefined">
      <p class="undefined__title">We haven’t found news from <br>this category</br></p>
      <picture>
        <source
          srcset="
            /src/images/error-image/error-1x-dekstop-min.png 1x,
            /src/images/error-image/error-2x-dekstop-min.png 2x
          "
          type="image/png"
          media="(min-width: 1279.98px)"
        />
        <source
          srcset="
            /src/images/error-image/error-1x-tab-min.png 1x,
            /src/images/error-image/error-2x-tab-min.png 2x
          "
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/error-image/error-1x-mob-min.png 1x,
            /src/images/error-image/error-2x-mob-min.png 2x
          "
          type="image/png"
          media="(mix-width: 480px)"
        />
        <img
          class="undefined__img"
          src="/src/images/error-image/error-image.min.png"
          alt="undefined search img"
        />
      </picture>
    </div>
    <!-- read cards -->
			<div class="read-container container" id="read-container"></div>
  </div>
</section>


