<section class="read__section-page">
  <div class="container read__news-container">

<div class="accordion is-hidden">
  <div class="accordion-item">
    <button class="accordion__date-btn">20/20/2023</button>
    <div class="accordion__read-list">
		</div>
  </div>
</div>

    <div class="undefined empty-response__container">
      <p class="undefined__title">We haven’t found news from <br>this category</br></p>
      <picture>
        <source
          srcset="
            /src/images/error-image/error-1x-dekstop-min.png 1x,
            /src/images/error-image/error-2x-dekstop-min.png 2x
          "
          type="image/png"
          media="(min-width: 1279.98px)"
        />
        <source
          srcset="
            /src/images/error-image/error-1x-tab-min.png 1x,
            /src/images/error-image/error-2x-tab-min.png 2x
          "
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/error-image/error-1x-mob-min.png 1x,
            /src/images/error-image/error-2x-mob-min.png 2x
          "
          type="image/png"
          media="(mix-width: 480px)"
        />
        <img
          class="undefined__img"
          src="/src/images/error-image/error-image.min.png"
          alt="undefined search img"
        />
      </picture>
    </div>
	</section>
</div>
