.banner {
    display: none;
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation: banner-show $transition-duration forwards;
}

@keyframes banner-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.banner_hide{
    pointer-events: none;
    opacity: 1;
    animation: banner-hidden $transition-duration forwards;
}
@keyframes banner-hidden {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.banner__button {
    position: fixed;
    z-index: 20;
    background-color: transparent;
    right: 5px;
    top: 5px;
    width: 15px;
    height: 15px;
    border: none;

    @media screen and (min-width: 768px) {
        right: 10px;
        top: 10px;
        width: 25px;
        height: 25px;
    }

    @media screen and (min-width: 1280px) {
        right: 15px;
        top: 15px;
        width: 40px;
        height: 40px;
    }
}

.banner__button-cross_icon {
    width: 10px;
    height: 10px;

    @media screen and (min-width: 768px) {
        width: 24px;
        height: 24px;
    }

    @media screen and (min-width: 1280px) {
        width: 32px;
        height: 32px;
    }
}