svg {
	display: block;
 }

.is-hidden_open-close_svg {
	display: none;
}

.calendar_box {
	display: block;
	display: flex;
	margin-right: 36px;	
	align-items:baseline;

	// tablet
	@media screen and (min-width: 768px) {
		margin-right: 0;	
	 }
  
}

.calendar_input {
	text-align: center;
	width: 149px;
	height: 31px;
	background: rgba(0, 0, 0, 0);
	border-radius: 20px;
	border: 1px solid $input-border;
	&:hover,
	&:focus {
		cursor: pointer;
		outline: none;
	}
	
	 // tablet
	@media screen and (min-width: 768px) {
		width: 166px;
	 }

	 // desktop
	 @media screen and (min-width: 1280px) {
		width: 166px;
	 }

}

.calendar_input_is-activ {
	background-color: $background-color-accent;
	color: $line-color-light;
	border: 1px solid $background-color-accent;
}

.calendar_box_text {
	display: none;
	margin-right: 37px;	

	@media screen and (min-width: 1280px) {
    	display: block;

		font-family: $main-text-font;
		font-weight: 700;
		font-size: 18px;
		line-height: calc(25 / 18);
	 }

}

.calendar_serch_input{
	position: relative;		
}

.calendar_svg {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	fill: $background-color-accent;
}

.calendar_svg_is-activ {
	fill: #fff;	
}

.open_calendar_svg{
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	fill: #A2A2A2;
}

.close_calendar_svg {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	fill: #FFFFFF;
}

.close_calendar_svg_is-activ {
	fill:#FFFFFF;
}

.calendar_wrapper_close {
	position: absolute;
	z-index: -1;
	opacity: 0;
	right: 0;	
	width: 250px;
	max-height: 0px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 0 15px 40px rgba(0,0,0,0.12);
	background: #F8F8F8;
	
	transition: max-height 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), padding 500ms cubic-bezier(0.4, 0, 0.2, 1);
	
 }

.calendar_wrapper_open {
	padding: 27px 16px 8px;
	z-index: 1;
	opacity: 1;
	max-height: 300px;
	
	
}

 .year_box {	
	display: flex;
	gap: 5px;
	align-items: baseline;
 }

 .minus_year {
	transform: rotate(-90deg);
	fill: $background-color-accent;
}

.year {
	font-family: $main-text-font;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(22 / 16);
	letter-spacing: -0.408px;
}

.plus_year{
	transform: rotate(90deg);
	fill: $background-color-accent;
}

.month {
	width: 75px;
	text-align: center;

	font-family: $main-text-font;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(22 / 16);
	letter-spacing: -0.408px;
}

 .month_box {
	display: flex;
	gap: 5px;
	align-items: baseline;

 }

 .minus_month {
	transform: rotate(-90deg);
	fill: $background-color-accent;
 }

 .plus_month {
	transform: rotate(90deg);
	fill: $background-color-accent;
 }

 .yaer_month {
	display: flex;
	justify-content: space-between;
 }

 .week {
	list-style: none;
	display: flex;
	margin-top: 15px;
	margin-bottom: 14px;	


 }

 .day_of_week {
	font-family: $main-text-font;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	width: calc(100% / 7);
	text-align: center;
 }

 .days_of_month {
	list-style: none;
	display: flex;
	flex-wrap: wrap;	
	
 }

 .days_of_month li {
	width: 25px;
	margin-left: 5px;
	margin-right: 5.703px;
	text-align: center;


	font-family: $main-text-font;
	font-weight: 500;
	font-size: 14px;
	line-height: calc(25 / 14);
	letter-spacing: 0.38px;

	margin-bottom: 12px;
	&:hover,
	&:focus {
		cursor: pointer;
	}
}

.is-active_day {
	background-color: $background-color-accent;
	border-radius: 50%;
	
}

