.card {
  @media screen and (min-width: 320px) {
    position: relative;
    width: 289px;
    height: 630px;
    border: 1px solid rgb(207, 128, 18);
  }
  @media screen and (min-width: 768px) {
    width: 353px;
    height: 676px;
  }
  @media screen and (min-width: 1280px) {
    width: 396px;
    height: 675px;
  }
  // position: relative;
  // width: 395px;
  // height: 675px;
  // border: 1px solid green;
}

.wrap__img {
  @media screen and (min-width: 320px) {
    position: relative;
    margin-bottom: 20px;
  }

  // position: relative;
  // margin-bottom: 20px;
}

.card__img {
  @media screen and (min-width: 320px) {
    display: block;
    margin-bottom: 20px;
    width: 288px;
    height: 395px;
    object-fit: fill;
  }
  @media screen and (min-width: 768px) {
    width: 353px;
    height: 395px;
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 395px;
  }
  // display: block;
  // width: 395px;
  // height: 395px;
  // object-fit: fill;
}

.wrap,
.card__title,
.card__description {
  margin-bottom: 20px;
}

.categories,
.read,
.card__favorite {
  position: absolute;
}

.card__title {
  @media screen and (min-width: 320px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.01em;
  }
  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 44px;
  }

  // font-family: 'Manrope';
  // font-style: normal;
  // font-weight: 700;
  // font-size: 32px;
  // line-height: 1.37;
  // letter-spacing: -0.01em;

  // color: #111321;
}

.card__description {
  @media screen and (min-width: 320px) {
    font-size: 14px;
    line-height: 19px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
  // font-family: 'Manrope';
  // font-style: normal;
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.37;

  // color: #111321;
}

.card__footer {
  @media screen and (min-width: 320px) {
    display: flex;
    justify-content: space-between;
  }
  // display: flex;
  // justify-content: space-between;
}

.card__date {
  @media screen and (min-width: 320px) {
    font-size: 14px;
    line-height: 19px;
    color: #a8a8a8;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
  // font-family: 'Manrope';
  // font-style: normal;
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.37;

  // text-align: right;

  // color: #a8a8a8;
}

.card__ref {
  @media screen and (min-width: 320px) {
    font-size: 14px;
    line-height: 19px;
    color: #4440f7;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 21px;
  }
  // margin-right: 26px;

  // font-family: 'Manrope';
  // font-style: normal;
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 1.37;

  // color: #4440f7;
}

.categories {
  @media screen and (min-width: 320px) {
    display: block;
    padding: 4px 8px;
    background: rgba(68, 64, 247, 0.7);
    border-radius: 0px 4px 4px 0px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;

    top: 40px;
    left: 0;
  }
  // display: block;
  // padding: 4px 8px;

  // background: rgba(68, 64, 247, 0.7);
  // border-radius: 0px 4px 4px 0px;

  // font-family: 'Manrope';
  // font-style: normal;
  // font-weight: 500;
  // font-size: 12px;
  // line-height: 16px;
  // text-align: center;
  // color: #ffffff;

  // top: 40px;
  // left: 0;
}

.read {
  @media screen and (min-width: 320px) {
    right: 31px;
    top: 16px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #00b912;
  }
  // right: 31px;
  // top: 16px;

  // font-family: 'Manrope';
  // font-style: normal;
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 19px;

  // color: #00b912;
}

.card__img.is-reading {
  opacity: 80%;
}

.card__favorite {
  display: flex;
  align-items: center;

  right: 10px;
  bottom: 10px;

  border-radius: 20px;
  border: none;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  height: 28px;
  color: #111321;
}

.card__favorite .icon-heart {
  display: none;
}

.card__favorite.active .icon-heart {
  display: block;
}

.card__favorite.active .icon-empty-heart {
  display: none;
}

.favorite__text {
  padding: 6px 3px 6px 12px;
}

.icon-heart {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  padding-right: 6px;
}

.icon-empty-heart {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  padding-right: 6px;
}

// .checked {
//   fill: none;
// }

.news__card {
  @media screen and (min-width: 320px) {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    height: 215px;
  }
  @media screen and (min-width: 768px) {
    width: 353px;
    height: 261px;
  }
  @media screen and (min-width: 1280px) {
    width: 396px;
    height: 260px;
  }
  // border: 1px solid rgb(207, 128, 18);
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // height: 260px;
}
