.favorite__section {
  display: block;
  z-index: 1;
  padding: 40px 0;
  position: relative;

  @media screen and (min-width: 768px) {
    padding: 48px 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 60px 0;
  }
}

.favorite__container {
  @media screen and (min-width: 320px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      gap: 28px;
    }
  
    @media screen and (min-width: 768px) {
      // display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: left;
      gap: 30px;
    }
  
    @media screen and (min-width: 1280px) {
      gap: 32px;
      row-gap: 40px;
      flex-wrap: wrap;
      flex-direction: row-reverse;
    }
}

.error {
  padding: 40px 0 60px 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;  
}


.error__text {
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  padding-bottom: 40px;
  color: #000;

  @media screen and (min-width: 768px) {
    line-height: 1.4;
    font-size: 40px;
  }
}

.error__picture {
  width: 248px;

  @media screen and (min-width: 768px) {
    width: 560px;
  }

  @media screen and (min-width: 1280px) {
    width: 601px;
  }
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}