.category__filter-container {
  margin-left: 16px;
  padding-bottom: 60px;
  padding-top: 35px;
  display: flex;
  gap: 16px;

  @media all and (min-width: 481px) and(max-width:1200px) {
    flex-wrap: wrap;
  }
}

.class-filter {
  color: #4440f7;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #4440f7;
  border-radius: 20px;
}

.desctop-select {
  @media all and (max-width: 480px) {
    display: none;
  }
}
.mobile-select {
  @media all and (min-width: 481px) {
    display: none;
  }
}

.category__filter-btn.active {
  background-color: #4440f7;
  color: #ffffff;
}

.category__filter-btn {
  color: #4440f7;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-left: 16px;
  padding-right: 16px;
  gap: 16px;

  border: 1px solid #4440f7;
  border-radius: 20px;

  @media all and (max-width: 480px) {
    display: none;
  }
}
