.category__filter-container {
  display: flex;
  gap: 16px;

  @media all and (min-width: 481px) and(max-width:1200px) {
    flex-wrap: wrap;
  }
}

.class-filter {
  color: $blue-text-color;

  font-family: $main-text-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  padding: 8px 16px;

  border: 1px solid #4440f7;
  border-radius: 20px;
}

.desctop-select {
  @media all and (max-width: 767px) {
    display: none;
  }
}
.mobile-select {
  @media all and (min-width: 768px) {
    display: none;
  }

  @media all and (max-width: 767px) {
    margin-right: 24px;
  }
}

.category__filter-btn.active {
  background-color: #4440f6;
  color: #ffffff;
}

.category__filter-btn {
  font-family: $main-text-font;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: $blue-text-color;
  background: #f4f4f4;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;

  gap: 16px;

  border: 1px solid #4440f7;
  border-radius: 20px;

  @media all and (max-width: 767px) {
    display: none;
  }
}

select.class-filter:focus-visible {
  color: #ffffff;
  background-color: #4440f7;
  border-color: #4440f7;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

select.class-filter:focus-visible option {
  background: #f8f8f8;
  border-radius: 20px;
  color: #4440f7;
}

select.class-filter {
  background: #f8f8f8;
}

select.class-filter.active {
  background-color: #4440f6;
  color: #ffffff;
}

//------------------------------------

.filter__calendar {
  padding: 8px 16px;
  min-width: 168px;
  min-height: 31px;
  background: #f8f8f8;
  border: 1px solid #111321;
  border-radius: 20px;
}

.container__wrapper {
  padding-top: 28px;
  margin-bottom: 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media all and(max-width:980px) {
    align-items: flex-start;
  }
}

// -----------------------------

