.news__container {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 28px;
  }
  @media screen and (min-width: 768px) {
    // display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;
  }
  @media screen and (min-width: 1280px) {
    gap: 32px;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
  }
  //   background-color: rgb(183, 135, 229);
  // display: flex;
  // gap: 32px;
  // row-gap: 40px;
  // flex-wrap: wrap;
  // justify-content: center;
  // flex-direction: row-reverse;
}

// .card {
//   width: 395px;
//   /* height: 675px; */
//   background-color: aqua;
// }

// .news__container--weather {
//   // position: relative;
//   width: 395px;
//   height: 675px;
//   background-color: brown;
//   text-align: center;
// }

// .news__img {
//   width: 395px;
//   height: 395px;
//   margin-bottom: 20px;
// }

// .news__info {
//   display: flex;
//   padding: 0;
//   margin: 0;
//   justify-content: space-between;
// }

// .news__title {
//   font-family: "Manrope";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 32px;
//   line-height: 44px;
//   letter-spacing: -0.01em;
//   margin: 0 0 20px 0;
//   color: #111321;
//   padding: 0 41px 0 17px;
// }

// .news__inform {
//   font-family: "Manrope";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 22px;
//   margin: 0 0 20px 0;
//   padding: 0 41px 0 17px;
//   color: #111321;
// }

// .news__info--data {
//   font-family: "Manrope";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 22px;
//   padding: 0;
//   margin: 0;

//   text-align: right;

//   color: #a8a8a8;
// }

// .news__info--more {
//   font-family: "Manrope";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 22px;
//   padding: 0;
//   padding-right: 26px;
//   margin: 0;

//   color: #4440f7;
// }

//////////////////////////////////////////////////////////////////////////////

.item-news__add-to-favorite {
  position: absolute;

  pointer-events: auto;
  z-index: 2;

  min-width: 40px;
  min-height: 10px;
  margin: 0;
  padding: 6px 32px 6px 12px;
  right: 12px;
  bottom: 12px;

  background: #ffffff00;
  border-radius: 20px;
  border: none;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: left;

  color: #111321;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 20px;
    height: 28px;
    width: 126px;
    z-index: -1;

    background: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .item-news__remove-to-favorite-btn {
    position: absolute;

    left: -26px;
    width: 147px;
    opacity: 0;
    z-index: 2;
    pointer-events: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .item-news__remove-to-favorite-btn::after {
    content: '';
    display: block;
    position: absolute;

    transform: translateX(0px);

    right: 0;
    top: -6px;
    border-radius: 20px;
    height: 28px;
    width: 120px;
    z-index: -1;

    background: #ffffff;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.hidden-span .item-news__remove-to-favorite-btn {
    opacity: 1;
    pointer-events: auto;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .active-news-icon {
      fill: var(--accent-color);
      stroke: var(--accent-color);

      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &.hidden-span .item-news__add-to-favorite-btn {
    opacity: 0;
    pointer-events: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.item-news__add-to-favorite.hidden-span
  .item-news__remove-to-favorite-btn::after {
  transform: translateX(-42px);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-news__block-icon {
  fill: white;
  position: absolute;
  right: 12px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
