.news__container {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 28px;
  }
  @media screen and (min-width: 768px) {
    // display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;
  }
  @media screen and (min-width: 1280px) {
    gap: 32px;
    row-gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row-reverse;
  }
}