.header {
  min-height: 81px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-container {
  align-items: center;
  display: flex;
  margin-left: 0;
}

.logo {
  padding: 24px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  display: inline-block;
  color: #111321;
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 32px;
    padding-bottom: 30px;
    font-size: 32px;
    line-height: 1.38;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    padding: 28px 0;
    font-size: 42px;
    line-height: 1.36;
  }
}

.navbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    gap: 40px;
    margin-left: 48px;
    display: flex;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .navbar {
    gap: 69px;
    margin-left: 102px;
  }
}

.navbar__item {
  padding-top: 48px;
  padding-bottom: 36px;
}

@media screen and (min-width: 1280px) {
  .navbar__item {
    padding-top: 55px;
    padding-bottom: 33px;
  }
}

.navbar__link {
  font-weight: 700;
  line-height: 1.38;
}

@media screen and (min-width: 1280px) {
  .navbar__link {
    font-size: 18px;
    line-height: 1.39;
  }
}

.navbar__link--current {
  border-bottom: 1px solid #4440f6;
  padding-bottom: 8px;
  padding-left: 6px;
  padding-right: 6px;
}

@media screen and (min-width: 1280px) {
  .navbar__link--current {
    padding-bottom: 5px;
  }
}

.navbar__link:hover,
.navbar__link:focus {
  color: #4440f6;
}

.search-field {
  height: 31px;
  background-color: #0000;
  margin-left: auto;
  display: flex;
}

@media screen and (min-width: 768px) {
  .search-field {
    border: 1px solid var(--light-theme-main-color);
    width: 213px;
    border-radius: 20px;
    margin-top: 44px;
    margin-bottom: 31px;
  }
}

@media screen and (min-width: 1280px) {
  .search-field {
    width: 288px;
    margin: 51px auto 31px;
  }
}
