.read__section-page {
  padding: 40px 0;

  @media screen and (min-width: 768px) {
    padding: 48px 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 60px 0;
  }
}

.undefined {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 60px 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: Manrope;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
    color: #000;

    @media screen and (min-width: 768px) {
      line-height: 1.4;
      font-size: 40px;
    }
  }

  &__img {
    width: 248px;

    @media screen and (min-width: 768px) {
      width: 560px;
    }

    @media screen and (min-width: 1280px) {
      width: 601px;
    }
  }
}


.accordion {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-header {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.accordion-content {
  padding: 10px;
  display: none;
}

.accordion-header.active {
  background-color: #ddd;
}

.accordion-content.active {
  display: block;
}