.read__underfined {
  text-align: center;
  background-color: #d6ebf6;
  border-radius: 60px;
}

.read__articles {
  font-family: Manrope;
  font-weight: 700;
  font-size: 20px;
  padding: 120px 0 100px 0;
  color: #1475a5;
}
