// ------------------------
.theme-switch {
  display: flex;
  gap: 12px;
}

.theme-switch__slider-conteiner {
  border: 1px solid $border-color;
  border-radius: 24px;
  width: 40px;
  height: 20px;
}

.theme-switch__light-on {
    color: $light-switch-color;
}

.theme-switch__dark-on {
    color: $dark-switch-color;
}
//switcher
.switch-light {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  background-color:#F4F4F4;
}
.switch-dark{
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  background-color:#2E2E2E;
}

.switch__input {
  height: 0;
  width: 0;
  opacity: 0;
}

.switch__slider-light{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
 
  border-radius: 20px;
  background-color:#FFFFFF;
  box-shadow: 0 0 1px #4440F7; 
  transition: .4s;
}

.switch__slider-dark{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
 
  border-radius: 20px;
  background-color:#4440F7;
  box-shadow: 0 0 1px #4440F7; 
  transition: .4s;
}



.switch__slider-light::before{
  content: "";
  position: absolute;
  cursor: pointer;
  left: 2px;
  bottom: 2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #4B48DB;
  transition: .4s;
}

.switch__slider-dark::before{
  content: "";
  position: absolute;
  cursor: pointer;
  left: 2px;
  bottom: 2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: .4s;
}


.switch__input:focus + .switch__slider-light {
  box-shadow: 0 0 1px #4440F7;
}
.switch__input:focus + .switch__slider-dark {
  box-shadow: 0 0 1px #4440F7;
}

.switch__input:checked + .switch__slider-light{
  background-color:#4440F7;
}.switch__input:checked + .switch__slider-dark{
  background-color:#4440F7;
}
.switch__input:checked + .switch__slider-light::before{
  transform: translate(20px);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
}
.switch__input:checked + .switch__slider-dark::before{
  transform: translate(20px);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
}

.theme-switch__light-on-light {
  color: #4B48DB;
  display: none;
  }

@media screen and (min-width: 768px) {
  .theme-switch__light-on-light{
  display: inline;
}
}

.theme-switch__light-on-dark {
  color: #5F6775;
  display: none;
  }

@media screen and (min-width: 768px) {
  .theme-switch__light-on-dark{
  display: inline;
}
}

.theme-switch__dark-on-light {
  color: #5F6775;
  display: none;
}
@media screen and (min-width: 768px) {
  .theme-switch__dark-on-light{
  display: inline;
}
}

.theme-switch__dark-on-dark {
  color: #4B48DB;
  display: none;
}
@media screen and (min-width: 768px) {
  .theme-switch__dark-on-dark{
  display: inline;
}
}

@media screen and (min-width: 768px) {
  .theme_icon-sun{
  display: none;
}
}
@media screen and (min-width: 768px) {
  .theme_icon-moon{
  display: none;
}
}

//themes for all

.body__bg-light{
  background-color: #F4F4F4;
}

.body__bg-dark{
  background-color: #2E2E2E;
  
}

.font__theme-light{
  color: #111321;
  background-color:#F4F4F4;
}

.font__theme-dark{
  color: #F4F4F4;
  background-color:#2E2E2E;
}